# Indexing and Selecting Data

In this section, you will:

* Select rows from a dataframe
* Select columns from a dataframe
* Select subsets of dataframes

### Selecting Rows

Selecting rows in dataframes is similar to the indexing you have seen in numpy arrays. The syntax ```df[start_index:end_index]``` will subset rows according to the start and end indices.

In [8]:
import numpy as np
import pandas as pd

market_df = pd.read_csv("../My_Files/market_fact.csv")
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

Notice that, by default, pandas assigns integer labels to the rows, starting at 0.

In [9]:
# Selecting the rows from indices 2 to 6
market_df[2:7]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.76,0.01,5,1.32,0.50,0.36

In [10]:
# Selecting alternate rows starting from index = 5
market_df[5::2].head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78

**Optional Module Exercise**

In [5]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2 = df[2::2]
print(df_2.head(20))

    X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
2   7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
4   8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
6   8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
8   8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
10  7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.0
12  6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.0
14  6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.0
16  5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.0
18  6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.0
20  6  4   sep  tue  91.0  129.5  692.6   7.0  18.3  40   2.7   0.0   0.0
22  7  4   jun  sun  94.3   96.3  200.0  56.1  21.0  44   4.5   0.0   0.0
24  7  4   aug  sat  93.5  139.4  594.2  20.3  23.7  32   5.8   0.0   0.0
26  7  4   sep  fri  92.4  117.9  668.0  12.2  19.0  34   5.8   0.0   0.0
28  6  3   sep  sat  93.4  145.4  721.4   8.1  30.2  24   2.7   0.0   0.0
30  6  3   sep  fri  94.3   85.1  692.3  15.9  25.4  24   3.6   0.0   0.0
32  6  3   sep  fri  88.6   69.7  706.8   5.8  20.6  37   1.8   0.0   0.0
34  6  3   sep  mon  91.8   78.5  724.3   9.2  21.2  32   2.7   0.0   0.0
36  6  3   oct  tue  90.6   35.4  669.1   6.7  21.7  24   4.5   0.0   0.0
38  7  3   oct  sat  90.6   43.7  686.9   6.7  17.8  27   4.0   0.0   0.0
40  4  4   jul  tue  79.5   60.6  366.7   1.5  23.3  37   3.1   0.0   0.0

In [6]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2 = df[['month', 'day', 'temp', 'area']]
print(df_2.head(20))

   month  day  temp  area
0    mar  fri   8.2   0.0
1    oct  tue  18.0   0.0
2    oct  sat  14.6   0.0
3    mar  fri   8.3   0.0
4    mar  sun  11.4   0.0
5    aug  sun  22.2   0.0
6    aug  mon  24.1   0.0
7    aug  mon   8.0   0.0
8    sep  tue  13.1   0.0
9    sep  sat  22.8   0.0
10   sep  sat  17.8   0.0
11   sep  sat  19.3   0.0
12   aug  fri  17.0   0.0
13   sep  mon  21.3   0.0
14   sep  wed  26.4   0.0
15   sep  fri  22.9   0.0
16   mar  sat  15.1   0.0
17   oct  mon  16.7   0.0
18   mar  wed  15.9   0.0
19   apr  sat   9.3   0.0

### Selecting Columns

There are two simple ways to select a single column from a dataframe - ```df['column_name']``` and ```df.column_name```.

In [11]:
# Using df['column']
sales = market_df['Sales']
sales.head()

0     136.81
1      42.27
2    4701.69
3    2337.89
4    4233.15
Name: Sales, dtype: float64

In [12]:
# Using df.column
sales = market_df.Sales
sales.head()

0     136.81
1      42.27
2    4701.69
3    2337.89
4    4233.15
Name: Sales, dtype: float64

In [13]:
# Notice that in both these cases, the resultant is a Series object
print(type(market_df['Sales']))
print(type(market_df.Sales))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

#### Selecting Multiple Columns

You can select multiple columns by passing the list of column names inside the ```[]```: ```df[['column_1', 'column_2', 'column_n']]```.

For instance, to select only the columns Cust_id, Sales and Profit:

In [14]:
# Select Cust_id, Sales and Profit:
market_df[['Cust_id', 'Sales', 'Profit']].head()

     Cust_id    Sales   Profit
0  Cust_1818   136.81   -30.51
1  Cust_1818    42.27     4.56
2  Cust_1818  4701.69  1148.90
3  Cust_1818  2337.89   729.34
4  Cust_1818  4233.15  1219.87

Notice that in this case, the output is itself a dataframe.

In [15]:
type(market_df[['Cust_id', 'Sales', 'Profit']])

pandas.core.frame.DataFrame

In [16]:
# Similarly, if you select one column using double square brackets,
# you'll get a df, not Series

type(market_df[['Sales']])

pandas.core.frame.DataFrame

### Selecting Subsets of Dataframes

Until now, you have seen selecting rows and columns using the following ways:
* Selecting rows: ```df[start:stop]```
* Selecting columns: ```df['column']``` or ```df.column``` or ```df[['col_x', 'col_y']]```
    * ```df['column']``` or ```df.column``` return a series
    * ```df[['col_x', 'col_y']]``` returns a dataframe

But pandas does not prefer this way of indexing dataframes, since it has some ambiguity. For instance, let's try and select the third row of the dataframe.

In [17]:
# Trying to select the third row: Throws an error
market_df[2]

KeyError: ignored

Pandas throws an error because it is confused whether the ```[2]``` is an *index* or a *label*. Recall from the previous section that you can change the row indices.

In [18]:
# Changing the row indices to Ord_id
market_df.set_index('Ord_id').head()

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

Now imagine you had a column with entries ```[2, 4, 7, 8 ...]```, and you set that as the index. What should ```df[2]``` return?
The second row, or the row with the index value = 2?

Taking an example from this dataset, say you decide to assign the ```Order_Quantity``` column as the index.

In [19]:
market_df.set_index('Order_Quantity').head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Profit,Shipping_Cost,Product_Base_Margin
Order_Quantity,,,,,,,,,
23,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,-30.51,3.60,0.56
13,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,4.56,0.93,0.54
26,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,1148.90,2.50,0.59
43,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,729.34,14.30,0.37
35,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,1219.87,26.30,0.38

Now, what should ```df[13]``` return - the 14th row, or the row with index label 13 (i.e. the second row)?

Because of this and similar other ambiguities, pandas provides **explicit ways** to subset dataframes - position based indexing and label based indexing, which we'll study next.